<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_register_success">
        <observer name="customer_preferences" instance="Icecube\Extrafields\Observer\Updateinfo" />
    </event>
    <!--<event name="sales_order_place_after">
        <observer name="business_user_create" instance="Icecube\Extrafields\Observer\Createbuser" />
    </event>-->
</config>