<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
   <preference for="Magento\Customer\Model\Url" type="Icecube\Customer\Model\Url"/>
   <type name="Magento\Customer\Controller\Plugin\Account">
        <arguments>
            <argument name="allowedActions" xsi:type="array">
               
                <item name="editcustomer" xsi:type="string">editcustomer</item>
            </argument>
        </arguments>
    </type>
</config>